### 함수 print()는 콘솔에 출력하는 명령입니다.

In [1]:
print('반갑습니다')

반갑습니다

### 함수 input()은 콘솔로부터 입력을 받는 명령입니다.

In [2]:
name = input('당신의 이름은? ')
print('나의 이름은: ' + name)

당신의 이름은? 허준혁
나의 이름은: 허준혁

In [ ]:
for item in range(10):
    print(item)

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for item in number:
    print(99 * item)

### 원의 넓이 구하는 프로그램을 작성하시오

In [3]:
radius = input('반지름은? ')
areaOfCircle = float(radius) * float(radius) * 3.14
print('반지름은 %10s 이고 원의 넓이는 %10d' % (radius, areaOfCircle))
# %s는 문자열, %d는 숫자, $10s는 10자리의 문자열

반지름은? 10
반지름은         10 이고 원의 넓이는        314

### 함수 id()는 객체의 주소값을 출력

In [6]:
name = '홍길동'
print(type(name))
print(id(name))
age = 30
print(type(age))
print(id(age))
name2 = '홍길동'
print(id(name2))

<class 'str'>
2723616549552
<class 'int'>
2723530894544
2723616549072

### whos: 현재 커널에 정의되어 있는 변수 목록을 확인

In [9]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    314.0
name           str      홍길동
name2          str      홍길동
radius         str      10

In [ ]:
del name2

In [12]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    314.0
name           str      홍길동
radius         str      10

### 함수 help(): 도움말

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### 연산자
    ** 지수
    /  나누기
    // 몫
    정수/정수 = 실수 (ex. 2/2 = 1.0)

In [16]:
print(2**2)
print(6//3)

4
2

### \\ 역슬래시

In [17]:
str = '''
a
s
d
f
'''
print(str)

a
s
d
f

In [18]:
str = '''
a\
s\
d\
f
'''
print(str)

asdf

In [27]:
str2 = 'aa \'ss\''
print(str2)

aa 'ss'

In [45]:
str3 = 'hello world. hi~'
print(str3[0])
print(str3[1])
print(str3[-2])
print(str3[-1])
print('=====')
print(str3.index(('w')))
print(str3[6:])
print(str3[6:12])
print(str3[:5])
print(str3[str3.index('w'):str3.index('d')+1])
print(str3[:] * 3)
print(str3[0:6:2]) #start:stop:step

h
e
i
~
=====
6
world. hi~
world.
hello
world
hello world. hi~hello world. hi~hello world. hi~
hlo

### 여러값을 요소로 가질 수 있는 객체
- 튜플( ) 여러값을 요소로 가질 수 있는 불변 객체
    - 요소는 다양한 타입이 올 수 있다.
- 리스트[ ] 여러값을 요소로 가질 수 있는 가변 객체
- 딕셔너리{ } 키, 값을 쌍으로 갖는 요소를 가질 수 있는 가변 객체

In [58]:
a = True
b = False
print(type(a))
print(type(b))

# a = {'student':'학생', 'teacher':'교사'}
a = {}
if a :
    print('참')
else :
    print('거짓')

<class 'bool'>
<class 'bool'>
거짓

### 함수 len(): 문자열 길이

In [59]:
len('hello')

5

In [71]:
dic = {'student':'학생', 'teacher':'교사', 'classroom':'교실'}
# 요소 개수
print(len(dic))
# entry 가져오기
print(dic.items())
# key 가져오기
print(dic.keys())
# value 가져오기
print(dic.values())

# 해당 key의 value 가져오기
print(dic['student'])
del dic['student']
print(dic)
dic['student'] = '학생' # 없으면 추가, 있으면 수정
print(dic)

3
dict_items([('student', '학생'), ('teacher', '교사'), ('classroom', '교실')])
dict_keys(['student', 'teacher', 'classroom'])
dict_values(['학생', '교사', '교실'])
학생
{'teacher': '교사', 'classroom': '교실'}
{'teacher': '교사', 'classroom': '교실', 'student': '학생'}

### 구구단 출력하기

In [73]:
for i in range (1, 10):
    for j in range (2, 10):
        print("{}*{}={:>2}".format(j, i, i*j), end=' ')
    print()

2*1= 2 3*1= 3 4*1= 4 5*1= 5 6*1= 6 7*1= 7 8*1= 8 9*1= 9
2*2= 4 3*2= 6 4*2= 8 5*2=10 6*2=12 7*2=14 8*2=16 9*2=18
2*3= 6 3*3= 9 4*3=12 5*3=15 6*3=18 7*3=21 8*3=24 9*3=27
2*4= 8 3*4=12 4*4=16 5*4=20 6*4=24 7*4=28 8*4=32 9*4=36
2*5=10 3*5=15 4*5=20 5*5=25 6*5=30 7*5=35 8*5=40 9*5=45
2*6=12 3*6=18 4*6=24 5*6=30 6*6=36 7*6=42 8*6=48 9*6=54
2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49 8*7=56 9*7=63
2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64 9*8=72
2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [81]:
def add(num1, num2) :
    print(num1 + num2)
add(10, 20)

30

In [92]:
def add2(num1, num2) :
    '''
        매개값을 2개 받아 합을 구하는 함수
    '''
    return num1 + num2

sum = add2(10, 20)
print(sum)

30

In [93]:
print(add2.__doc__)

        매개값을 2개 받아 합을 구하는 함수

In [88]:
add3 = lambda x, y : x + y
print(add3(10, 20))

30

In [90]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [102]:
i = 5
# 정의 시점의 변수값이 저장
def func2(arg = i) :
    print(arg)
    
i = 6
func2()

5

### 가변인수
- *매개변수
- 함수 내에서 튜플 자료형으로 사용된다.

In [107]:
def add4(*args) :
    sum = 0
    for arg in args :
        # sum = sum + arg
        sum += arg
    return print(sum)
add4(10, 20, 30, 40, 50)

150