### 함수 print()는 콘솔에 출력하는 명령입니다.

In [1]:
print('반갑습니다')

반갑습니다

### 함수 input()은 콘솔로부터 입력을 받는 명령입니다.

In [2]:
name = input('당신의 이름은? ')
print('나의 이름은: ' + name)

당신의 이름은? 허준혁
나의 이름은: 허준혁

In [ ]:
for item in range(10):
    print(item)

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for item in number:
    print(99 * item)

### 원의 넓이 구하는 프로그램을 작성하시오

In [3]:
radius = input('반지름은? ')
areaOfCircle = float(radius) * float(radius) * 3.14
print('반지름은 %10s 이고 원의 넓이는 %10d' % (radius, areaOfCircle))
# %s는 문자열, %d는 숫자, $10s는 10자리의 문자열

반지름은? 10
반지름은         10 이고 원의 넓이는        314

### 함수 id()는 객체의 주소값을 출력

In [6]:
name = '홍길동'
print(type(name))
print(id(name))
age = 30
print(type(age))
print(id(age))
name2 = '홍길동'
print(id(name2))

<class 'str'>
2723616549552
<class 'int'>
2723530894544
2723616549072

### whos: 현재 커널에 정의되어 있는 변수 목록을 확인

In [9]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    314.0
name           str      홍길동
name2          str      홍길동
radius         str      10

In [ ]:
del name2

In [12]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    314.0
name           str      홍길동
radius         str      10

### 함수의 설명 보기
* help(함수명): 도움말
* 매개값 입력란에 (shift + tab)
* 함수명?

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### 연산자
    ** 지수
    /  나누기
    // 몫
    정수/정수 = 실수 (ex. 2/2 = 1.0)

In [16]:
print(2**2)
print(6//3)

4
2

### \\ 역슬래시

In [17]:
str = '''
a
s
d
f
'''
print(str)

a
s
d
f

In [18]:
str = '''
a\
s\
d\
f
'''
print(str)

asdf

In [27]:
str2 = 'aa \'ss\''
print(str2)

aa 'ss'

In [45]:
str3 = 'hello world. hi~'
print(str3[0])
print(str3[1])
print(str3[-2])
print(str3[-1])
print('=====')
print(str3.index(('w')))
print(str3[6:])
print(str3[6:12])
print(str3[:5])
print(str3[str3.index('w'):str3.index('d')+1])
print(str3[:] * 3)
print(str3[0:6:2]) #start:stop:step

h
e
i
~
=====
6
world. hi~
world.
hello
world
hello world. hi~hello world. hi~hello world. hi~
hlo

### 여러값을 요소로 가질 수 있는 객체
- 튜플( ) 여러값을 요소로 가질 수 있는 불변 객체
    - 요소는 다양한 타입이 올 수 있다.
- 리스트[ ] 여러값을 요소로 가질 수 있는 가변 객체
- 딕셔너리{ } 키, 값을 쌍으로 갖는 요소를 가질 수 있는 가변 객체

In [58]:
a = True
b = False
print(type(a))
print(type(b))

# a = {'student':'학생', 'teacher':'교사'}
a = {}
if a :
    print('참')
else :
    print('거짓')

<class 'bool'>
<class 'bool'>
거짓

### 함수 len(): 문자열 길이

In [59]:
len('hello')

5

In [71]:
dic = {'student':'학생', 'teacher':'교사', 'classroom':'교실'}
# 요소 개수
print(len(dic))
# entry 가져오기
print(dic.items())
# key 가져오기
print(dic.keys())
# value 가져오기
print(dic.values())

# 해당 key의 value 가져오기
print(dic['student'])
del dic['student']
print(dic)
dic['student'] = '학생' # 없으면 추가, 있으면 수정
print(dic)

3
dict_items([('student', '학생'), ('teacher', '교사'), ('classroom', '교실')])
dict_keys(['student', 'teacher', 'classroom'])
dict_values(['학생', '교사', '교실'])
학생
{'teacher': '교사', 'classroom': '교실'}
{'teacher': '교사', 'classroom': '교실', 'student': '학생'}

### 구구단 출력하기

In [73]:
for i in range (1, 10):
    for j in range (2, 10):
        print("{}*{}={:>2}".format(j, i, i*j), end=' ')
    print()

2*1= 2 3*1= 3 4*1= 4 5*1= 5 6*1= 6 7*1= 7 8*1= 8 9*1= 9
2*2= 4 3*2= 6 4*2= 8 5*2=10 6*2=12 7*2=14 8*2=16 9*2=18
2*3= 6 3*3= 9 4*3=12 5*3=15 6*3=18 7*3=21 8*3=24 9*3=27
2*4= 8 3*4=12 4*4=16 5*4=20 6*4=24 7*4=28 8*4=32 9*4=36
2*5=10 3*5=15 4*5=20 5*5=25 6*5=30 7*5=35 8*5=40 9*5=45
2*6=12 3*6=18 4*6=24 5*6=30 6*6=36 7*6=42 8*6=48 9*6=54
2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49 8*7=56 9*7=63
2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64 9*8=72
2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [81]:
def add(num1, num2) :
    print(num1 + num2)
add(10, 20)

30

In [92]:
def add2(num1, num2) :
    '''
        매개값을 2개 받아 합을 구하는 함수
    '''
    return num1 + num2

sum = add2(10, 20)
print(sum)

30

In [93]:
print(add2.__doc__)

        매개값을 2개 받아 합을 구하는 함수

In [88]:
add3 = lambda x, y : x + y
print(add3(10, 20))

30

In [90]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [102]:
i = 5
# 정의 시점의 변수값이 저장
def func2(arg = i) :
    print(arg)
    
i = 6
func2()

5

### 가변인수
- *매개변수
- 함수 내에서 튜플 자료형으로 사용된다.

In [107]:
def add4(*args) :
    sum = 0
    for arg in args :
        # sum = sum + arg
        sum += arg
    return print(sum)
add4(10, 20, 30, 40, 50)

150

### 파이썬에서 변수는 객체

In [7]:
x = 100
print(type(x))
print(id(x))

<class 'int'>
2623657956816

### 사용자로부터 구구단을 입력받아 출력하는 프로그램을 작성하시오

In [39]:
num = int(input('기준 숫자를 입력하세요: '))
multi = int(input('곱할 숫자를 입력하세요: '))
answer = num * multi
print('결과값은 ' + str(answer) + '입니다.')
print('====================')
gugudan = int(input('구구단: '))
# for i in range(1, 10) :
for i in range(1, 10, 2) :
    print(r'{:^3} * {:^3} = {:2}'.format(gugudan, i, gugudan*i))
    # print(gugudan, '*', i, '=', gugudan * i)

기준 숫자를 입력하세요: 3
곱할 숫자를 입력하세요: 7
결과값은 21입니다.
====================
구구단: 3
 3  *  1  =  3
 3  *  3  =  9
 3  *  5  = 15
 3  *  7  = 21
 3  *  9  = 27

In [27]:
# sep, end 디폴트값
print('울산', 'KH', '정보교육원')
print('울산', 'KH', '정보교육원', sep=' ', end='\n')
# //sep, end 디폴트값

print('울산', 'KH', '정보교육원', sep=' - ', end='!')

울산 KH 정보교육원
울산 KH 정보교육원
울산 - KH - 정보교육원!

### 문자열 연결하기

In [32]:
print('hello'+'hello')
print('hello' 'hello')
print('hello'*3)
print(3*'hello')

hellohello
hellohello
hellohellohello
hellohellohello

### 역슬래시 출력
* 역슬래시 한 번 더 작성
* 문자열 앞에 r을 붙여 raw 문자열을 선언해 사용

In [36]:
print('\t \n \t')
print('\\t \\n \\t')
print(r'\t \n \t')

\t \n \t
\t \n \t

In [51]:
import datetime
print(datetime.date(2022, 10, 18))
print('{:%Y / %m / %d}'.format(datetime.date(2022, 10, 18)))
print('{:%y / %m / %d}'.format(datetime.date(2022, 10, 18)))
print('{:%y / %m / %d (%D)}'.format(datetime.date(2022, 10, 18)))
print('{:%Y년 %m월 %d일}'.format(datetime.date(2022, 10, 18)))

2022-10-18
2022 / 10 / 18
22 / 10 / 18
22 / 10 / 18 (10/18/22)
2022년 10월 18일

### 피연산자 2개를 입력받아 몫과 나머지를 구하는 프로그램을 작성하시오
* 몫과 나머지 계산은 함수를 사용할 것

In [59]:
num1 = int(input('피연산자1: '))
num2 = int(input('피연산자2: '))

def calculate(x, y) :
    '''
        parameter x: 젯수, y: 피젯수
        return 몫, 나머지
    '''
    quotient = x // y # 몫
    remainder = x % y # 나머지
    return quotient, remainder # 튜플로 반환

result = calculate(num1, num2)
print('몫: {} 나머지: {}'.format(result[0], result[1]))

피연산자1: 7
피연산자2: 3
몫: 2 나머지: 1

### 함수 내부 최상단에 정의한 Docstring 확인 가능

In [60]:
calculate?

### 리스트, 튜플
* 공통점
    * 인덱스를 가진다
    * 순서가 있다
    * 중복 가능한 요소를 가질 수 있다
* 차이점
    * 리스트: [], 가변객체(mutable) 즉, 읽기와 쓰기 모두 가능
    * 튜플: (), 불변객체(immutable) 즉, 읽기만 가능

In [64]:
# 리스트 fruit
fruit = ['banana', 'apple', 'grapes']

# 튜플 fruit2
fruit2 = ('banana', 'apple', 'grapes')

# 리스트는 가변객체
fruit.append('orange')
print(fruit)

# 튜플은 불변객체
fruit.append('orange')
print(fruit2)

print(fruit[-1], fruit2[-1])

['banana', 'apple', 'grapes', 'orange']
('banana', 'apple', 'grapes')
orange grapes

In [76]:
# 1~10 합
sum = 0
for i in range(1, 10+1) :
    sum += i
print(sum)

55

In [86]:
# 1~10 짝수 합

even_sum = 0
# for i in range(2, 10+1, 2) :
#     even_sum += i
for i in range(1, 10+1) :
    if i % 2 == 0 :
        even_sum += i
print(even_sum)

30

In [84]:
# 정수를 입력받아 짝수, 홀수 판단하기

num = int(input('정수를 입력하세요: '))
if num % 2 == 0 :
    print('짝수')
else :
    print('홀수')

정수를 입력하세요: 3
홀수

In [93]:
# 점수를 입력받아 학점 구하기 (90점 이상 A, 80점 이상 B, 70점 이상 C, 60점 이상 D, 60점 미만 F)

score = int(input('점수를 입력하면 학점을 알려드립니다: '))

if score >= 90 :
    print ('A')
elif score >= 80 :
    print ('B')
elif score >= 70 :
    print ('C')
elif score >= 60 :
    print ('D')
else :
    print ('F')

점수를 입력하면 학점을 알려드립니다: 93
A

In [102]:
# while문으로 1~10 합 구하기

count = 1
sum = 0
while count <= 10 :
    sum += count
    count += 1
else:
    print(sum)

55

In [107]:
# while문으로 1~100 짝수 합 구하기

count = 1
sum = 0
while count <= 100 :
    if count % 2 == 0 :
        sum += count
        count += 1
    else :
        count += 1
else:
    print(sum)

2550

In [116]:
# default parameter

def func(a, b=2, c=3) :
    print('a = {}, b = {}, c = {}'.format(a, b, c))

func(10, 20, 30)
func(a=1)
func(c=30, a=10, b=20)

a = 10, b = 20, c = 30
a = 1, b = 2, c = 3
a = 10, b = 20, c = 30

In [115]:
print(round(3.14))

3